td{COLOR: 333333;font-family:tahoma;font-size:13px; }
body{COLOR: 333333;font-family:tahoma;font-size:13px; }

a:link {COLOR: 023761;font-family:tahoma;font-size:13px; TEXT-DECORATION: none;}
a:visited {COLOR: 023761;font-family:tahoma;font-size:13px; TEXT-DECORATION: none;}
a:active {COLOR: 023761;font-family:tahoma;font-size:13px; TEXT-DECORATION: none;}
a:hover {COLOR: 023761;font-family:tahoma;font-size:13px; TEXT-DECORATION: none;}

#href2:link {COLOR: 000000;font-family:tahoma;font-size:11px; TEXT-DECORATION: none;}
#href2:visited {COLOR: 000000;font-family:tahoma;font-size:11px; TEXT-DECORATION: none;}
#href2:active {COLOR: 000000;font-family:tahoma;font-size:11px; TEXT-DECORATION: none;}
#href2:hover {COLOR: 000000;font-family:tahoma;font-size:11px; TEXT-DECORATION: none;}

#topmenu:link {COLOR: ffffff;font-family:tahoma;font-size:13px; TEXT-DECORATION: none;}
#topmenu:visited {COLOR: ffffff;font-family:tahoma;font-size:13px; TEXT-DECORATION: none;}
#topmenu:active {COLOR: ffffff;font-family:tahoma;font-size:13px; TEXT-DECORATION: none;}
#topmenu:hover {COLOR: ffffff;font-family:tahoma;font-size:13px; TEXT-DECORATION: none;}